<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <h1>Elenco video del canale</h1>
    <ul>
    <% lista.forEach((item)=>{%>
        <li> titolo del video : <%=item.title%>  <br>
            descrizione video : <%=item.description%> <br>
            identificativo : <%=item.videoId%> <br>
            data di pubblicazione : <%=item.time%> <br> </li> 
    <%});%>
    </ul>
    <form action = "/delete" method = "POST">
        <div class="form-group">
        <input type="text" name="identif_video" placeholder="id" required class="form-control">
          <button class="btn btn-block btn-danger">
            Delete video
          </button>
        </div>
      </form>
</body>
</html>